DJANGO_DEBUG=true
DJANGO_SECRET_KEY=replace-me-for-non-development-use
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

POSTGRES_DB=finuslugi
POSTGRES_USER=finuslugi
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=60
